<div style="width: 100%" ng-include="'views/header.html'"></div>

<div class="padding">
    <div class="full col-sm-12">

        <!-- content -->
        <div ng-repeat="day in load()" class="row">
            {{day.date}}
            <!-- main col left -->
            <div class="col-sm-12">

                <div class="col-sm-2" ng-repeat="word in day.words">

                    <div class="panel panel-default">

                        <div class="panel-heading"><h4>{{ word.title }}</h4></div>

                        <div class="panel-body">
                            {{ word.description }}</a>

                            <div class="clearfix"></div>
                            <form>
                                <div class="input-group" ng-if="logged">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" ng-click="like()">+1</button>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Add a comment..">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading"><a href="#">Ver mais...</a></div>
        </div>

        <div style="width: 100%" ng-include="'views/footer.html'"></div>

    </div>
    <!-- /col-9 -->
</div>
<!-- /padding -->
