
<div style="width: 100%" ng-include="'views/nav.html'"></div>

<div class="padding">
    <div class="full col-sm-9">

        <!-- content -->
        <div class="row">
            <!-- main col left -->

            <div class="col-sm-6" ng-controller="RepublicaController">
                <div id="newRepublicaModal">
                    <div class="panel panel-default">

                        <div class="panel-body">
                            <form class="form center-block">
                                <div >
                                    <input class="form-control input-lg" type="text" ng-model="republica.name" placeholder="Nome da república"/>
                                    <br/>
                                    <input class="form-control input-lg" type="text" ng-model="republica.address" placeholder="Endereço (vamos tentar encontrar no Google Maps)"/>
                                    <br/>
                                    <textarea class="form-control input-lg" type="text" ng-model="republica.description" placeholder="Descreva sua república (com detalhes, sua mãe não está olhando :))"></textarea>
                                    <br/>

                                    <button class="btn btn-primary pull-right" type="button" ng-click="newRepublica()">
                                        Inserir
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- main col right -->
            <div class="col-sm-6" ng-controller="RepublicaController">
                <div class="well">
                    <leaflet lf-center="center" height="300px" width="100%"></leaflet>
                </div>

            </div>
        </div>
    </div>
</div>