
<div style="width: 100%" ng-include="'views/nav.html'"></div>

<div class="padding">
    <div class="full col-sm-9">

        <!-- content -->
        <div class="row">

            <!-- main col left -->

            <div class="col-sm-6" ng-controller="FeedController">

                <div class="well" ng-if="logged">
                    <form class="form-horizontal" role="form">

                        <div class="form-group" style="padding:14px;">
                                                <textarea ng-model="user.idea" class="form-control"
                                                          placeholder="Compartilhe uma ideia"></textarea>
                        </div>
                        <button class="btn btn-primary pull-right" type="button" ng-click="share()">
                            Compartilhar
                        </button>
                        <ul class="list-inline">
                            <li><a href=""><i class="glyphicon glyphicon-upload"></i></a></li>
                            <li><a href=""><i class="glyphicon glyphicon-camera"></i></a></li>
                            <li><a href=""><i class="glyphicon glyphicon-map-marker"></i></a></li>
                        </ul>
                    </form>
                </div>

                <div ng-repeat="new in loadNews()" class="panel panel-default">

                    <div class="panel-heading"><h4>{{ new.title }}</h4></div>

                    <div class="panel-body">
                        {{ new.description }}</a>

                        <div class="clearfix"></div>
                        <form>
                            <div class="input-group" ng-if="logged">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" ng-click="like()">+1</button>
                                </div>
                                <input type="text" class="form-control" placeholder="Add a comment..">
                            </div>
                        </form>
                    </div>

                </div>

                <div class="panel panel-default">
                    <div class="panel-heading"><a href="#">Ver mais...</a></div>
                </div>

            </div>

            <!-- main col right -->
            <div class="col-sm-6" ng-controller="RepublicaController">

                <div class="panel-heading" ng-if="message"><h1>{{ message }}</h1></div>

                <div class="well">
                    <leaflet lf-center="center" height="300px" width="100%"></leaflet>
                </div>

                <div ng-repeat="republica in loadRepublicas()" class="panel panel-default">

                    <div class="panel-heading"><h4>{{ republica.name }}</h4></div>

                    <div class="panel-body">
                        <a href="#">{{ republica.description }}</a>

                        <div class="clearfix"></div>
                        <form>
                            <div class="input-group" ng-if="logged">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" ng-click="like()">+1</button>
                                </div>
                                <input type="text" class="form-control" placeholder="Add a comment..">
                            </div>
                        </form>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading"><a href="#">Ver mais...</a></div>
                </div>

            </div>
        </div>
        <!--/row-->

        <div style="width: 100%" ng-include="'views/footer.html'"></div>

    </div>
    <!-- /col-9 -->
</div>
<!-- /padding -->
