<div id="newStudentModal" ng-controller="StudentController" class="modal fade" tabindex="-1" role="dialog"
     aria-hidden="true">

    <div class="panel panel-default">

        <div class="panel-heading"><h4>Criar nova República</h4></div>

        <div class="clearfix"></div>

        <div class="panel-body">
            <form class="form center-block">
                <div class="input-group">
                    <input class="form-control input-lg" type="text" ng-model="republica.name"
                           placeholder="Nome da república"/>
                    <input class="form-control input-lg" type="text" ng-model="republica.address"
                           placeholder="Endereço (vamos tentar encontrar no Google Maps)"/>

                <textarea class="form-control input-lg" type="text" ng-model="republica.description"
                          placeholder="Descreva sua república (com detalhes, sua mãe não está olhando :))"></textarea>

                    <button class="btn btn-primary pull-right" type="button" ng-click="newRepublica()">
                        Inserir
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
